@using GleamTech.Web.Mvc;
@using GleamTech.FileUltimate
@{
    ViewBag.Title = "admin";
    Layout = "~/Views/Shared/_LayoutPageadmin.cshtml";
}

<h2>Admin</h2>
<h4>@Session["name"]</h4>

@{ 
    var filemanager = new FileManager
    {
        Width = 800,
        Height = 600,
        Resizable = true
    };

    var rootfolder = new FileManagerRootFolder
    {
        Name = "ROOT",
        Location = "~/App_Data/"
    };

    rootfolder.AccessControls.Add(new FileManagerAccessControl
    {
        Path = @"\",
        AllowedPermissions = FileManagerPermissions.Full
    });

    filemanager.RootFolders.Add(rootfolder);
}

<html>
<head>
    @Html.RenderCss(filemanager)
    @Html.RenderJs(filemanager)
</head>
<body>
    @Html.RenderControl(filemanager)
</body>
</html>

